<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Name your new project</h4>
  </div>

  <div class="modal-body">
    <input [(ngModel)]="projectName">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click'); createProject()">Create!</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Cross click')">Close</button>
  </div>
</ng-template>

<button class="btn btn-outline-primary mb-2 mr-2" (click)="openWindowCustomClass(content)">Create new project!</button>

