
<!--<p><button class="btn btn-outline-primary mb-2 mr-2" (click)="refresh()">refresh</button></p>-->

<create-module (onConfirm)="createProject($event)"></create-module>

<div *ngFor="let proj of projects">
  <single-project [project]="proj"  (onDeleted)="deleteProject($event)"  ></single-project>
</div>



